| $('.js-sign-up-link').addClass('disabled');
| $('#sign_in_or_sign_up_modal .modal-content').html("#{ j(render 'devise/registrations/remote_form') }");
| $('#sign_in_or_sign_up_modal').modal('show');
| $('.js-sign-up-link').removeClass('disabled');
