| $('.js-new-settings').addClass('disabled');
| $('#edit_user_settings .modal-content').html("#{ j(render 'users_settings/remote_form') }");
| $('#edit_user_settings').modal('show');
| $('.js-new-settings').removeClass('disabled');
