.sidebar-toggle-box {
  margin-top: 18px;
}
.stock .current-price .changes .value {
  font-size: 1.7vw;
}

.edit-user-photo-wrapper {
  text-align: center;
  .edit-user-photo {
    min-height: 80px;
    min-width: 80px;
  }
}
