.transit_theme {
  a, a.button:focus, a.special:focus {
    color: #fff;
    text-decoration: none;
  }
  .dark_link {
    color: #474747;
  }

  #header {
    background-color: #424a5d;
  }

  .wrapper.style3 {
    background-color: #48cfad;
  }

  #footer {
    background: #424a5d;
    padding: 6em 0em 4em;
  }

  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  .button {
    background-color: #48cfad;
    border-color: #48cfad;
  }

  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  .button:hover {
    background-color: #37bc9b;
    text-decoration: none;
    border-color: #37bc9b;
  }

  input[type="submit"]:active,
  input[type="reset"]:active,
  input[type="button"]:active,
  .button:active {
    background-color: #37bc9b;
    text-decoration: none;
    border-color: none;
  }

  #sign_in_or_sign_up_modal,
  #sign_in_or_sign_up_wrapper,
  #confirm_message_modal,
  #complete-registration-form,
  #edit_user_settings {
    .modal-header {
      background-color: #48cfad;
      h4 {
        color: #fff;
      }
    }
    form {
      margin: 0;
      .modal-footer {
        margin-top: 1em;

        .devise_links {
          margin-top: 1em;
        }

        .js-signt-in-link {
          margin-top: 4%;
        }

        .g-recaptcha {
          float: right;

          &.with_error {
            iframe  {
              border: 1px solid #ed5565;
            }
          }
        }
        ul.actions {
          margin: 0;
        }
      }

    }

    ul.actions > li {
      width: 100%;
    }

    .js-sign-up-link {
      margin-top: 1.3em;
    }

    .button {
      &.fa-vk {
        background-color: #678eb5;
      }
      &.fa-facebook {
        background-color: #4e69a2;
      }
    }

    input.alt.icon[type="submit"]::before,
    input.alt.icon[type="reset"]::before,
    input.alt.icon[type="button"]::before,
    .button.alt.icon::before {
      color: #fff;
    }

    input.alt[type="submit"],
    input.alt[type="reset"],
    input.alt[type="button"],
    .button.alt {
      color: #fff !important;
    }
  }

  input[type="checkbox"]:checked + label:before,
  input[type="radio"]:checked + label:before {
    background: #48cfad;
    border-color: #48cfad;
  }
  .with_error {
    input[type="text"],
    input[type="password"],
    input[type="email"],
    select {
      border: 1px solid #ed5565;
      box-shadow: none;
    }
    .form-error-message {
      display: block;
    }
  }
  .form-error-message {
    margin: 0;
    color: #ed5565;
    display: none;
  }

  input[type="text"].disabled, input[type="text"]:disabled,
  input[type="password"].disabled,
  input[type="password"]:disabled,
  input[type="email"].disabled,
  input[type="email"]:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
  input[type="checkbox"].disabled + label,
  input[type="checkbox"]:disabled + label {
    cursor: not-allowed;
  }

  ul.alert {
    list-style: none;
  }
}
