.sidebar-toggle-box {
  margin-top: 18px;
}
.stock .current-price .changes .value {
  font-size: 1.7vw;
}

.js-user-photo-preview {
  margin-right: 10px;
}

.with_error {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  select {
    border: 1px solid #ed5565;
    box-shadow: none;
  }
  .form-error-message {
    display: block;
  }
}
.form-error-message {
  margin: 0;
  color: #ed5565;
  display: none;

  &.visible {
    display: block;
  }
}
#event_form_modal {
  .modal-header {
    background-color: #424a5d;
  }
}

