/! Header
= render 'layouts/transit_theme/header', hide_settings: 'false'
/! Banner
= render 'home/banner'
/! One
= render 'home/section_one'
/! Two
= render 'home/section_two'
/! Three
= render 'home/section_three'

= render 'layouts/transit_theme/footer'

= content_for(:javascript_code) do
  | SkelInit.init("#{skel_css_files}");
