= render 'layouts/transit_theme/header', hide_settings: 'false'
= render 'home/banner'
= render 'home/section_one'
= render 'home/section_two'
.js-contacts-form
  = render 'contacts/form'

= render 'layouts/transit_theme/footer'

= content_for(:javascript_code) do
  | SkelInit.init("#{skel_css_files}");
