default: &default
  timeout: 5000
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: 5
  port: 5432
  username: postgres
  min_messages: WARNING

development:
  <<: *default
  database: wow_calendar_development


test:
  <<: *default
  database: wow_calendar_test
